<div class="addproject-form  mt-5">

    <form [formGroup]="addprojectform" (ngSubmit)="formSubmit()">
        <div>
            <h3>Add Project Details</h3>
        </div>
        <div class="mb-3">
            <label class="form-label">Project ID</label>
            <input type="text" formControlName="projectid" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['projectid'].errors }">
            <div *ngIf="submitted && f['projectid'].errors">
                <div *ngIf="f['projectid'].errors['required']" class="text-danger">Last name is required</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Project Name</label>
            <input type="text" formControlName="projectname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['projectname'].errors }">
            <div *ngIf="submitted && f['projectname'].errors">
                <div *ngIf="f['projectname'].errors['required']" class="text-danger">Last name is required</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Project Description</label>
            <input type="text" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
            <div *ngIf="submitted && f['description'].errors">
                <div *ngIf="f['description'].errors['required']" class="text-danger">Last name is required</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary back-button" (click)="backButton()">BACK</button>
    </form>

    <div style="margin-top:30px">
    <select [(ngModel)]="selectedProjectId" class="form-select" style="width:50%;margin-bottom: 20px;">
        <option value='undefined' hidden disabled>Select Project ID</option>
        <option *ngFor="let project of projectDetails" [ngValue]="project.projectid">{{project.projectid}}</option>
    </select>

    <select [(ngModel)]="selectedEmployeeId" class="form-select" style="width:60%;margin-bottom: 20px;">
        <option value='undefined' hidden disabled>Select Employee ID</option>
        <option *ngFor="let employee of employeeDetails" [value]="employee.employeeid">{{employee.employeeid}}</option>
    </select>

    <div><button class="btn btn-primary" (click)="assign()">Assign</button></div>
</div>
</div>

<div>
   
</div>
<!-- <div *ngIf="projectDetails?.length">
    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">Project ID</th>
                <th scope="col">Project Name</th>
                <th scope="col">Description</th>
                <th scope="col">Assign Project</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projectDetails; let i=index">
                <td>{{project.projectid}}</td>
                <td>{{project.projectname}}</td>
                <td>{{project.description}}</td>
                <button class="btn btn-primary">Assign</button>
            </tr>

        </tbody>
    </table>
</div> -->